#container {
    display: flex;
    width: 1640;
    height: 1640;
}

.gridDivs {
    height: 100px;
    width: 100px;
    background-color: white;
    border: solid grey 0.5px;
    border-radius: 4px;
}

